/*slider automatico*/

.section-slider{
    overflow: hidden;
}

.section-slider ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 30s infinite alternate linear;
    -moz- animation: cambio 30s infinite alternate linear;
    -chrome- animation: cambio 30s infinite alternate linear;
    -ms- animation: cambio 30s infinite alternate linear;
}
.section-slider li{
    width: 100%;
    list-style: none;
}
.section-slider img{
    width: 100%;
    list-style: none;
}

article.slider{
    width: 100%;
    max-height: 15em;
    left: 0;
}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}   
}

/*fin de slider*/
